@model IEnumerable<access.analyser.Models.AdminPanel>

@{
    ViewData["Title"] = "Admin Panel - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel: All Users</h1>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
